<main>
	<div class="container">
		<div class="row">
			<div class="show_div col-md-8 col-sm-12">
				<h1>New Project</h1>
				<%= render 'form', project: @project %>
			</div>
			<div class="sidebar col-md-4 col-sm-12">
				<div class="side_item">
					<div class="back"><p><%= link_to 'Back', projects_path, class: "btn btn-secondary" %></p></div>
				</div>
			</div>
		</div>
	</div>
</main>