/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

body {
	width: 100vw;
	height: 100vh;
	color: #202529;

	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;

	.white{
		color: white !important;
	}

	.nav-link{
		font-size: 18px;
	}
	.bg_light {
		background-color: #2E373C !important;
	}
	input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #EEF4F6 inset;
	}

	a {
		color: #2e373c;
	}

	a:hover {
		color: #202529;
		background-color: #34beef;
		text-decoration: none;
	}

	button:hover {
		color: inherit !important;
	}

	a:visited{
		color: inherit !important;
	}

	.row {
		margin-top: 5px;
	}

	input, .btn {
		margin-left: 10px;
	}

	.page_header {
		margin-right: 20px;
		line-height: 20px;
		display: inline-block;
	}

	.gutter {
		padding: 0 10px;
		margin-top: 30px;
	}

	.card {
		padding: 20px;
		// min-height: 500px;
	}

	.card-footer {
		text-align: center;
	}

	.white{
		color: white !important;
	}

	.nav-link{
		font-size: 16px;
	}

	.bg-light {
		background-color: #2E373C !important;
	}

	input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #EEF4F6 inset;
	}

	p {
		font-size: 1rem;
	}

	ul {
		font-size: 1rem;
		line-height: 1.5em;
	}
	.login-button{
		display: inline-block;
	}

	.card {
		overflow: hidden;
		background-color: #eef4f6;
	}

	.project_image {
		width: auto;
		height: 200px;
	}

	.show {
		//margin-left: 5%;
		margin-top: 10px;
		background-color: #eef4f6;
		padding: 20px 20px 10px 20px;
		width: 100%;
		//display: inline-block;
	}

	.sidebar {
		//display: inline-block;
		//margin-left: 5%;
		margin-top: 10px;
		float: right;
		width: 100%;
	}

	.side_item {
		background-color: #eef4f6;
		margin-bottom: 10px;
		padding: 20px;
	}

	.show_image {
		margin: 15px 0 15px 0;
	}

	.show_links {
		background-color: #eef4f6;
		display: inline-block;
		padding: 5px;
	}

	.show_content {
		margin: 10px 0 10px 0;
		padding: 5px;
		//display: inline-block;
	}

	.back {
		margin-top: 10px;
	}

	.navbar-toggler {
		background-color: #eef4f6 !important;
  	}
	.sign_button {
		float: right;
	}

	.form {
		margin: 0 10px;
	}

	.btn-secondary {
		color: #ffffff !important;
	}

	.btn-secondary:visited {
		color: #ffffff !important;
	}

	#brand:hover {
		background-color: inherit !important;
	}

	.alert-success {
		width: 30%;
		margin: 10px auto 10px auto;
	}

}