/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

body {
	width: 100vw;
	height: 100vh;
	color: #202529;
	.white {
		color: white !important;
	}

	.nav-link {
		font-size: 16px;
	}
	.bg-light {
		background-color: #2E373C !important;
	}
	input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #EEF4F6 inset;
	}
	a {
		color: #2e373c;
	}
	a:hover {
		color: #202529;
		background-color: #34beef;
		text-decoration: none;
	}

	a:visited {
		color: inherit !important;
	}

	p {
		font-size: 16px;
	}

	main {
		margin: 0 30px;
	}

	.login-button {
		display: inline-block;
	}

	.card {
		overflow: hidden;
		background-color: #eef4f6;
	}

	.project_image {
		width: auto;
		height: 200px;
	}

	.new_project {
		display: inline-block;
		margin:	5px;
		text-align: center;
	}

	.show {
		margin-left: 5%;
	}

	.show_image {
		margin: 5px 0 5px 0;
	}

	.show_links {
		background-color: #eef4f6;
		display: inline;
		padding: 5px;
	}

	.show_content {
		background-color: #eef4f6;
		margin: 10px 0 10px 0;
		padding: 5px;
		display: inline-block;
	}

	.back {
		margin-top: 10px;
	}


	.navbar-brand:hover {
		background-color: inherit;
	}

	.sign_button {
		float: right;
	}

	.form {
		margin: 0 10px;

	}
}