<!DOCTYPE html>
<html>
  <head>
    <title>Showme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if current_user.admin %>
    <p>You are logged in as an Admin</p>
    <% else %>
    <p>You are logged in</p>
    <% end %>
    <%= yield %>
  </body>
</html>
